server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: candidate-service
              uri: lb://CANDIDATE-SERVICE
              predicates:
                - Path=/candidates/**

            - id: interviewer-service
              uri: lb://INTERVIEWER-SERVICE
              predicates:
                - Path=/interviewers/**

            - id: interview-service
              uri: lb://INTERVIEW-SERVICE
              predicates:
                - Path=/interviews/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
