server:
  port: 8081


spring:
  application:
    name: candidate-service

  datasource:
    url: jdbc:h2:file:./data/candidate-db
    driver-class-name: org.h2.Driver
    username: sa
    password: password

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yml

  h2:
    console:
      enabled: true
      path: /h2-console

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
